* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray100: #0D0E11;
    --gray200: #16181D;
    --gray300: #292C34;
    --gray400: #878EA1;
    --gray500: #C0C4CE;
    --gray600: #E2E4E9;

    --font-asap: "Asap", sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-maven: "Maven Pro", sans-serif;

    --title-lg: bold 56px/120% var(--font-asap);
    --title-md: bold 24px/120% var(--font-asap);
    --title-sm: bold 16px/120% var(--font-asap);

    --subtitle: 400 20px/120% var(--font-inconsolata);

    --text-md: 400 16px/140% var(--font-maven);
    --text-sm: 400 14px/140% var(--font-maven);

}

body {
    background: var(--gray200);
   
}